/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scroll-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.grid-flow-col {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2555a3; /* Tailwind's blue-500 */
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f5f9; /* Light background for the track */
}
